@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@800&display=swap");
:root {
  --theme-color: rgb(221, 120, 221);
  --sub-theme-color: white;
  --settings-offset: 20px;
  --background-url: url("#");
}
* {
  box-sizing: border-box;
  /* user-select: none;
    -moz-user-select: none; */
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #292929;
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: var(--background-url);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: all 0.2s ease;
  overflow: hidden;
}
.issupported{
  display: none;
}
@media screen and (max-width: 1000px){
  .issupported{
    position: absolute;
    background-color: rebeccapurple;
    width: 140%;
    height: 130%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .issupported h1{
    width: 50%;
  }
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f141;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 10px;
  /* margin: 2px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
  /* border-radius: 0px; */
}

#settings-icon {
  position: absolute;
  right: var(--settings-offset);
  top: var(--settings-offset);
  font-size: 30px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.settings-icon-rotate {
  transform: rotate(30deg);
}
.background-dull {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.144);
}
.particle-background {
  left: 0px;
  top: 0px;
  position: absolute;
  /* height: 100%; */
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-color: rgba(102, 51, 153, 0.863); */
}
.playercontrols {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playercontrols__progressbar {
  height: 5px;
  width: 700px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.playercontrols__progressbar__progress {
  height: 100%;
  width: 0%;
  background-color: var(--theme-color);
  transition: all 0.2s ease;
}
.playercontrols__songtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
.playercontrols__musiccontrols {
  font-size: large;
  width: 50%;
  display: flex;
  align-items: center;
  color: var(--sub-theme-color);
  justify-content: space-between;
}
.control-button {
  padding: 10px 20px;
  /* background-color: thistle; */
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
}
.play-btn {
  font-size: 30px;
}
.shuffle-on {
  border-bottom: 1px solid white;
}
.footer__make-statement {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  z-index: 8;
}

@media screen and (max-width: 1000px) {
  .playercontrols__progressbar {
    width: 500px;
  }
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(179, 149, 182, 0.582);
  height: 100%;
  width: 30%;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
}
.hide {
  transform: translate(-100%);
}
input[type="file"] {
  display: none;
}
.sidebar__browse__fileupload {
  border: 1px solid rgb(255, 249, 249);
  background-color: #fe8da90f;
  display: inline-block;
  padding: 6px 12px;
  margin: 12px;
  text-align: center;
  cursor: pointer;
  color: white;
  transition: 0.1s ease all;
  z-index: 2;
}

.sidebar__browse__fileupload:hover {
  background-color: #fe8da9cc;
}
.sidebar img {
  margin: 20px;
  width: 50%;
}
.sidebar__divideline {
  width: 90%;
  height: 2px;
  background-color: white;
  border: 1px solid white;
}
.sidebar__songslist__songname-title {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  cursor: pointer;
}
.sidebar__songslist__songname-title:hover {
  color: var(--theme-color);
}
.sidebar__settings {
  display: flex;
  width: 90%;
  flex-direction: column;
}
.sidebar__settings ul {
  font-size: 20px;
  list-style: none;
}

.sidebar__settings > ul > li {
  display: flex;
  align-items: center;
}
.sidebar__settings > ul > li > i {
  padding: 10px;
  margin: 0px 2.5px;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.2s ease;
}
.sidebar__settings > ul > li > i:hover {
  background-color: rgba(255, 255, 255, 0.288);
}

.audio-canvas {
  position: absolute;
  padding: 3px;
  padding-left: 13px;
  border-bottom: 3px solid white;
  left: 20px;
  bottom: 20px;
  width: 25%;
  height: 175px;
}
#info-icon {
  padding: 10px;
  margin-left: 10px;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.1s ease;
}
#info-icon:hover {
  background-color: rgba(255, 255, 255, 0.178);
}
.info-container{
  position: absolute;
  height: 90%;
  min-width: 350px;
  width: 50%;
  max-width: 900px;
  max-height: 800px;
  background-color: #292929d8;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  color: white;
}
.info-container-shortcuts{
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-container span{
  background-color: #e6e6e63a;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.yellow-info{
  max-width: 90%;
  color: yellow;
  text-align: center;
}