@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@800&display=swap");
:root {
  --theme-color: rgb(221, 120, 221);
  --sub-theme-color: white;
  --settings-offset: 20px;
  --background-url: url("#");
  --vibration-amplitude: 4px;
  --vibration-amplitude-neg: -1px;
  --animation-duration: 1s;
}
* {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #292929;
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: var(--background-url);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: all 0.2s ease;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: yellow;
  background-color: rgba(255, 255, 255, 0.199);
  padding: 5px 15px;
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 15px;
  transition: 0.2s all ease;
}
a:hover {
  border: 1px solid yellow;
}
.issupported {
  display: none;
}
@media screen and (max-width: 959px) {
  .issupported {
    position: absolute;
    background-color: rebeccapurple;
    width: 140%;
    height: 130%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .issupported h1 {
    width: 50%;
  }
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f141;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 10px;
  /* margin: 2px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
  /* border-radius: 0px; */
}

#settings-icon {
  position: absolute;
  right: var(--settings-offset);
  top: var(--settings-offset);
  font-size: 30px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.settings-icon-rotate {
  transform: rotate(30deg);
}
.background-dull {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.144);
}
.particle-background {
  left: 0px;
  top: 0px;
  position: absolute;
  /* height: 100%; */
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-color: rgba(102, 51, 153, 0.863); */
}
.volume-bar {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: var(--sub-theme-color);
  width: 20px;
  height: 20%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  opacity: 1;
  transition: all 0.5s ease;
}
.fade {
  opacity: 0;
}
.volume-bar-progress {
  background-color: var(--theme-color);
  width: 100%;
  height: 50%;
  border-radius: 7px;
}
.playercontrols {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playercontrols__progressbar {
  height: 5px;
  width: 700px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.playercontrols__progressbar__progress {
  height: 100%;
  width: 0%;
  background-color: var(--theme-color);
  transition: all 0.2s ease;
}
.playercontrols__songtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
.playercontrols__musiccontrols {
  font-size: large;
  width: 50%;
  display: flex;
  align-items: center;
  color: var(--sub-theme-color);
  justify-content: space-between;
}
.control-button {
  padding: 10px 20px;
  /* background-color: thistle; */
  margin-top: 20px;
  align-items: center;
  cursor: pointer;
}
.play-btn {
  font-size: 30px;
}
.shuffle-on {
  border-bottom: 1px solid white;
}
.footer__make-statement {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  z-index: 8;
}

@media screen and (max-width: 1000px) {
  .playercontrols__progressbar {
    width: 500px;
  }
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(179, 149, 182, 0.582);
  height: 100%;
  width: 30%;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
}
.hide {
  transform: translate(-100%);
}
input[type="file"] {
  display: none;
}
.sidebar__browse__fileupload {
  border: 1px solid rgb(255, 249, 249);
  background-color: #fe8da90f;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 12px;
  text-align: center;
  cursor: pointer;
  color: white;
  transition: 0.1s ease all;
  z-index: 2;
}

.sidebar__browse__fileupload:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar img {
  margin: 20px;
  width: 50%;
}
.sidebar__divideline {
  width: 90%;
  height: 2px;
  background-color: white;
  border: 1px solid white;
}
.sidebar__songlist {
  width: 90%;
}
.sidebar__songslist__songname-title {
  margin: 10px;
  overflow: hidden;
  padding: 6px;
  padding-left: 12px;
  border-radius: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  cursor: pointer;
  transition: 0.2s all ease;
}
.sidebar__songslist__songname-title:hover {
  /* color: var(--theme-color); */
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar__settings {
  display: flex;
  width: 90%;
  flex-direction: column;
}
.sidebar__settings ul {
  font-size: 20px;
  list-style: none;
}
.sidebar__settings > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar__settings__background-toggle_wide {
  width: 40px;
}
.sidebar__settings > ul > li > i {
  padding: 10px;
  margin: 0px 2.5px;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.2s ease;
}
.sidebar__settings > ul > li > i:hover {
  background-color: rgba(255, 255, 255, 0.288);
}

.audio-canvas {
  position: absolute;
  padding: 3px;
  padding-left: 13px;
  border-bottom: 3px solid white;
  left: 20px;
  bottom: 20px;
  width: 25%;
  height: 175px;
}
#info-icon {
  padding: 10px;
  margin-left: 10px;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.1s ease;
}
#info-icon:hover {
  background-color: rgba(255, 255, 255, 0.178);
}
.info-container {
  position: absolute;
  height: 90%;
  min-width: 350px;
  width: 50%;
  max-width: 900px;
  max-height: 800px;
  background-color: #292929d8;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  color: white;
  padding: 20px;
}
th {
  padding: 5px 50px;
  background-color: rgba(255, 255, 255, 0.2);
}
.info-container-shortcuts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-container span {
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.license-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info-container li {
  padding: 10px;
}
.yellow-info {
  max-width: 90%;
  color: yellow;
  text-align: center;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0) translateY(0);
  }
  15%,
  35%,
  55%,
  75%,
  95% {
    -webkit-transform: translateX(-1px);
  }
  25%,
  45%,
  65%,
  85% {
    -webkit-transform: translateX(1px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateY(1px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateY(-1px);
  }
}
@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: translateX(0) translateY(0);
  }
  15%,
  35%,
  55%,
  75%,
  95% {
    -moz-transform: translateX(-1px);
  }
  25%,
  45%,
  65%,
  85% {
    -moz-transform: translateX(1px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateY(1px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateY(-1px);
  }
}

@-o-keyframes shake {
  0%,
  100% {
    -o-transform: translateX(0) translateY(0);
  }
  15%,
  35%,
  55%,
  75%,
  95% {
    -o-transform: translateX(-1px);
  }
  25%,
  45%,
  65%,
  85% {
    -o-transform: translateX(1px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -o-transform: translateY(1px);
  }
  20%,
  40%,
  60%,
  80% {
    -o-transform: translateY(-1px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) translateY(0);
  }
  15%,
  35%,
  55%,
  75%,
  95% {
    transform: translateX(var(--vibration-amplitude-neg));
  }
  25%,
  45%,
  65%,
  85% {
    transform: translateX(var(--vibration-amplitude));
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(var(--vibration-amplitude));
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(var(--vibration-amplitude-neg));
  }
}
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: var(--animation-duration);
  -moz-animation-duration: var(--animation-duration);
  -o-animation-duration: var(--animation-duration);
  animation-duration: var(--animation-duration);
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transition-timing-function: linear;
}
