@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@800&display=swap");
:root {
  --theme-color: rgb(221, 120, 221);
  --sub-theme-color: white;
}
* {
  box-sizing: border-box;
  /* user-select: none;
    -moz-user-select: none; */
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #292929;
  color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.playercontrols {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playercontrols__progressbar {
  height: 5px;
  width: 700px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.playercontrols__progressbar__progress {
  height: 100%;
  width: 0%;
  background-color: var(--theme-color);
  transition: all 0.2s ease;
}
.playercontrols__songtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
.playercontrols__musiccontrols {
  font-size: large;
  width: 40%;
  display: flex;
  align-items: center;
  color: var(--sub-theme-color);
  justify-content: space-between;
}
.control-button {
  padding: 10px 20px;
  /* background-color: thistle; */
  margin-top: 20px;
  cursor: pointer;
}
.play-btn {
  font-size: 30px;
}

.footer__make-statement {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  z-index: 8;
}

@media screen and (max-width: 1000px) {
  .playercontrols__progressbar {
    width: 500px;
  }
}

#settings-icon {
  cursor: pointer;
}
#settings {
  position: absolute;
  height: 400px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.856);
  z-index: 7;
}
#settings li {
  font-size: 20px;
  padding: 2px;
  list-style: none;
}
#settings span {
  font-size: 20px;
  position: inherit;
  left: calc(50% - 40px);
  align-self: center;

  border: 1px solid black;
  background-color: #fe8da90f;
  display: inline-block;
  padding: 12px 12px;
  cursor: pointer;
  transition: 0.1s ease all;
  z-index: 2;
}

#settings span:hover {
  color: white;
  background-color: rgb(129, 129, 129);
}
.bgchanger {
  cursor: pointer;
  font-size: 30px;
  color: rgb(59, 59, 59);
}
